<ion-header>
  <ion-toolbar>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="facebook-bg">
  <div class="main">
    <ion-row>
      <ion-col style="text-align: center">
        <ion-text class="title">Ionic 4 Facebook Auth Starter 2019</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" color="primary" (click)="userService.FacebookAuth()">Login with Facebook</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
